project:
  type: website

website:
  title: "Sonia Dhawan"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: example_analysis.qmd
        text: Example Analysis

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    bibliography: ref.bib

editor: visual